body {
	font-family: sans-serif;
	background-image: url("https://i.pinimg.com/originals/2c/12/91/2c1291a2398480174afffd6f8ae0a4c7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 20px;
	
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	flex: 1;
}

h1 {
	font-family: sans-serif;
	font-size: 4em;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 20px;
	color: black;
}

p {
	text-align: center;
	max-width: 60%;
	line-height: 1.75;
	margin: auto;
	font-size: 1.2em;
	color: black;
}

footer {
	text-align: right;
	background: #fff;
	padding: 30px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.btn {
	margin: 30px;
}

form {
	margin-top: 40px;
}

a {
	color: #5cb85c;
	font-size: 20px;
}

#bestFriendModal {
	text-align: center;
}

#bestFriendPhoto {
	max-width: 100%;
	height: auto;
}

span {
	margin-left: 10px;
	margin-right: 10px;
	color: #777;
	font-size: 20px;

}